anthropic
clipboard
groq
keyboard
numpy
openai
pyautogui
pydub
python-dotenv
pynput
sounddevice
soundfile
tiktoken
requests
PyAudio
pillow
ahk ; sys_platform == 'win32'
ahk[binary] ; sys_platform == 'win32'